---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Astro Starter Kit";
const description = "Astro Starter Kit Description";
---

<BaseLayout title={title} description={description}>
  <h2 class="pb-4 font-sans text-3xl font-bold leading-tight md:text-4xl">
    This is the start of the Astro Starter Kit using DecapCMS and Tailwind.
  </h2>
</BaseLayout>
